
  /* author box */
  #article-author-box{
    grid-column:30/80 ;
    grid-row:16 ;
    background: lightgray;
    display: grid;
    grid-gap: 2px;
    grid-template-columns:  6fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .article-author-pic{
    align-self: center;
    grid-column: 1;
    grid-row: 1/4;
    border: 1px solid;
  
  
  }
  .article-author-line {
    grid-column:1;
    grid-row: 1 ;
    font-size: small;
    padding: 5px;
  }
  .article-author-read-time{
    grid-column:1;
    grid-row: 2;
    font-size: small;
    padding: 5px;
  
  }
  
  